body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

.header {
  display: flex;
  border-width: 100%;
  justify-content: center;
  font-family: "Grandstander", cursive;
  font-size: 400%;
  height: 10vh;
  padding-top: 10px;
  width: 100vw;
  margin: auto;
  text-align: center;
  /* border: 2px solid black; */
}

#game-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  width: 250px;
  margin: auto;
  cursor: pointer;
}
.cell {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#resetBtn {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  background: none;
  border: none;
}
h2 {
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Grandstander", cursive;
  font-style: oblique;
  font-size: 400%;
  /* border: 2px solid black; */
  height: 20vh;
}
::-webkit-scrollbar {
  display: none;
}
