body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  font-size: 300%;
  border-width: 100%;
  justify-content: center;
  font-family: "Grandstander", cursive;
  font-size: 500%;
  height: 20vh;
  padding-top: 20px;
  width: 100vw;
}

#game-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  width: 250px;
  margin: auto;
  cursor: pointer;
}
.cell {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#resetBtn {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  background: none;
  border: none;
}
h2 {
  display: flex;
  justify-content: center;
  font-family: "Grandstander", cursive;
  font-style: oblique;
  font-size: 400%;
}
